*,
*::after,
*::before {
  box-sizing: border-box;
  --Primary-Color-hover: #3769ff;
  --Secondary-Color-hover: #f0f8ff;
  --Primary-Color: #3776ff;
  --Secondary-Color: #f0fcff;
}
body {
  margin: 0 0;
  padding: 0 0;
  /* background-color: var(--Secondary-Color); */
  /* background-color: aqua; */
}
html {
  min-height: 100%;
  min-width: 100%;
}
/* Header CSS */
#Header {
  display: flex;
  align-items: center;
  height: 11vh;
  background-color: var(--Primary-Color);
  margin: 0 0;
  padding: 0 3vw;
}
#Header h1 {
  display: block;
  color: var(--Secondary-Color);
  font-family: "Brush Script MT", cursive;
  font-size: 7vh;
}

/* Welcome container CSS */
#welcomeContainer {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  width: 35%;
  min-width: 300px;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  margin: 1rem 1rem;
  border: 2px dashed #555;
  border-radius: 1rem;
  padding: 2%;
  /* background-color: beige; */
}
#welcomeContainer h2 {
  margin: 0;
}
.userName {
  color: var(--Primary-Color);
  font-style: oblique;
  font-weight: 500;
}
#btnContainer {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  overflow: visible;
  gap: 5%;
}
#btnContainer button {
  min-width: 40%;
  margin: 0.5rem 0;
  /* padding: 5px; */
  background-color: var(--Primary-Color);
  border: 0;
  font-size: 70%;
  font-family: Georgia, "Times New Roman", Times, serif, serif;
  font-weight: 550;
  color: var(--Secondary-Color);
  border-radius: 1rem;
  box-shadow: 2px 2px 2px darkblue;
  transition: 0.1s;
  padding: 0.5rem;
  flex: 1;
}
#btnContainer button:hover {
  background-color: var(--Primary-Color-hover);
  color: var(--Secondary-Color-hover);
  box-shadow: 2px 2px 5px darkblue;
  cursor: pointer;
}

/* Action Container */
#actionContainer {
  display: flex;
  min-height: 80vh;
}
#actionDiv {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  margin: 1rem 1rem;
  border: 2px dashed #555;
  border-radius: 1rem;
  padding: 0px 0px;
}

  /* Add Category action */

/* #InOutDiv {
  user-select: none;
  width: 100%;
  margin: 5px;
  border-radius: 25px;
  transition: 0.1s ease;
  box-shadow: 0px 0px 3px gray;
}
#InOutlabels {
  user-select: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

#InOutlabels *:hover {
  cursor: pointer;
  background-color: #eee;
}
#InOutDiv #InOutCheckBox {
  display: none;
}
#InOutlabels > label {
  padding: 5px 20px;
  text-align: center;
  flex: 1;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}


#addCategoryFormDiv {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 3%;
  border-radius: 0px 0px 25px 25px;
  border-width: 3px;
  border-color: transparent black black black;
  border-style: solid;
  font-size: 1.5rem;
}
#newIncomeInputDiv {
  display: flex;
}
#newIncomeNameInput {
  flex: 1;
  margin-left: 5px;
  border: none;
  box-shadow: 0px 0px 3px gray;
} */
/* Add Category CSS */
.AddCategoryDiv{
  background-color: #fff;
}
#addCategoryContainer{
  width: 95%;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 3px #555 ; */
  padding: 0px 10px;
  border-radius: 10px;
  margin: 0px;

}
.AddCategoryHead{
  text-align: center;
}
.AddCategoryHead:hover{
  color: var(--Primary-Color-hover);
  cursor: pointer;
  text-shadow: 0px 0px 2px var(--Primary-Color);
}
.SubmitNewCategoryForm{
  display: flex;
  text-align: center;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.SubmitNewCategoryForm>div{
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 60%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.SubmitNewCategoryForm>div *{
  margin: 5px;
}
.SubmitNewCategoryFormInput{
  min-width: 40%;
  flex: 1;
  font-size: 1.3rem;
  border: none;
  box-shadow: 0px 0px 2px black;
  height: 2rem;
}
.SubmitNewCategoryForm input[type="button"]{
  min-width: 20%;
  margin: 0.5rem 0.5rem;
  background-color: var(--Primary-Color);
  border: 0;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif, serif;
  font-weight: 400;
  color: var(--Secondary-Color);
  border-radius: 1rem;
  box-shadow: 2px 2px 2px darkblue;
  transition: 0.1s;
  padding: 0.5rem 1.5rem;
}
.SubmitNewCategoryForm input[type="button"]:hover{
  background-color: var(--Primary-Color-hover);
  color: var(--Secondary-Color-hover);
  /* box-shadow: 2px 2px 5px darkblue; */
  font-size: 1.05rem;
  scale: 1.01;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  #actionContainer {
    flex-direction: column;
    align-items: center;
  }
  #actionContainer > div {
    width: 90%;
    justify-content: center;
    text-align: center;
  }
  #Header {
    justify-content: center;
  }
}
